<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>

<div class="container" id="container">

  <div class="form-container sign-in-container">
    <form action="/login" method="POST">
      <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
      <h1>CARWITH</h1>
      &nbsp;
      <input type="email" placeholder="Email" name="username" required/>
      <input type="password" placeholder="Password" name="password" required/>
      <a href="findpassword.html">비밀번호 찾기</a>
      <button type="submit">로그인</button>
      <a href="sociallogin.html">다른 소셜 계정으로 로그인하기</a>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>당신의 새로운 WITH 찾아보세요!</h1>
        &nbsp;
        <button type="button" class="ghost" id="signUp" onclick="location.href='/signup'">회원가입</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>