<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>

<div class="container" id="container">

    <div class="form-container sign-in-container">
        <div class="oauth-container">
            <h1 style="margin-bottom: 6%; padding-top: 10%">CARWITH</h1>
            <a href="/oauth/authorization/google" class="oauth-image">
                <img style="margin-bottom: 3%" src="/img/google.png">
            </a>

            <a href="/" class="oauth-image">
                <img style="margin-bottom: 3%" src="/img/google.png">
            </a>

            <a href="/" class="oauth-image">
                <img src="/img/google.png">
            </a>
        </div>

    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>이미 회원이신가요?</h1>
                &nbsp;
                <button style="cursor: pointer" type="button" class="ghost" id="signUp" onclick="location.href='/login'">로그인 하기</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>